// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/purple';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.mdi {
    font-family: "Material Design Icons",
      "materialdesignicons";
}
  
.text-light-orange{
    color:#ff6d00
}

.bg-light-orange{
    background-color:#ff6d00
}

.text-dark-orange{
    color:#c43c00
}

.bg-dark-orange{
    background-color:#c43c00
}