// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/purple';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.mdi {
    font-family: "Material Design Icons",
      "materialdesignicons";
}

.fab-button {
    height: 50;
    width: 50; /// this is required on iOS - Android does not require width so you might need to adjust styles
    margin: 15;
    background-color: #ff6d00;
    horizontal-align: right;
    vertical-align: bottom;
}
  
.text-light-orange{
    color:#ff6d00
}

.bg-light-orange{
    background-color:#ff6d00
}

.text-dark-orange{
    color:#c43c00
}

.bg-dark-orange{
    background-color:#c43c00
}

.text-white{
    color:#ffffff;
}